.tableauPlaceholder {
    margin-top: 10px;
    max-height: 75%;

    /* center object */
    /* display: block; */
    margin-left: 25px;
    margin-bottom:50px;
    /* margin-right: auto; */
    /* padding-left: 50px; */
}